body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: 100vh;
    margin: 0;
}

.conteudo{
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    background-color: #fff5e8;
}

.imglogo{
    width: 500px;
    height: 500px;
    margin-top: 100px;
}

.imglogo img{
    width: 100%;
}

.div1 {
    margin: auto;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: transparent;
    
}

.div_menu {
    width: 100%;
    height: 5em;
    background-color: #3b3b3b;
}

.apresentacao {
    width: 20%;
    height: 100%;
    margin: 150px 0px 100px;
    padding: 0px 420px 120px;
    background-color: transparent;
    color: #203825;
    font-size: 75px;
    font-family: 'Nunito', sans-serif;
}

.introduction {
    background-color: rgb(32, 32, 32);
    width: 100%;
    height: 19em;
    color: #FFE8CB;
    font-family: "Abhaya Libre", Sans-serif;
    text-align: center;
    padding: 200px 0px 0px;
}

.information {
    width: 100%;
    background-color: #11191F;
    margin: 474px 0px;
    height: 15em;
    text-align: center;
    font-family: "Abhaya Libre", Sans-serif;
    color: #FFE8CB;
}

.textintroduction {
    width: 100%;
    background-color: transparent;
    height: 15em;
    text-align: center;
    font-family: "Abhaya Libre", Sans-serif;
    color: #FFE8CB;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #DFB57A;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
}

.div_nomelogo {
    width: 250px;
    height: 100%;
    padding:5px 400px;
    background-color: #8f454500;
}

.divnav {

    width: 600px;
    margin-top: -60px;
    margin-left: 80px;
    background-color: transparent;
    padding: 0px 420px;
    text-decoration: none;
}

nav {
    text-decoration: none;
    list-style: none;
    display: inline;
}

nav li {
    text-decoration: none;
    display: inline-block;
    padding: 0 20px;
}

nav li a {
    text-decoration: none;
    color: #FFE8CB;
    font-family: Abel, Sans-serif;
}

nav li a:hover {
    text-decoration: solid;
    color: #fdad01;
}